<style>
.welcome-screen a[href] {
    color: #4a52ca;
}
.welcome-screen .window-content > * {
	flex: 0;
}
h2, h3 {
	margin: 0.1rem 0;
}
h2 {
	margin-top: 1rem;
}
ul {
	margin: 0.1em 0;
}
</style>

<h1>Update v0.3</h1>
<h3>Update Highlight(s):</h3>
<ul>
	<li>Chat message field now has full markdown support!</li>
</ul>
<a href="https://github.com/Moerill/fvtt-markdown-editor/blob/master/CHANGELOG.md">Full changelog</a>

<h2>General</h2>
<ul>
	<li><a href="https://github.com/Moerill/fvtt-markdown-editor#bug-reporting">Bug reporting</a></li>
	<li><a href="https://github.com/Moerill/fvtt-markdown-editor#meme---moerills-efficacious-markdown-editor-beta-">More Info</a></li>
</ul>

<p style="font-weight: bold; text-align: right;">Best regards, <br>Moerill</p>
<h2 style="margin:0;"></h2>
<p style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;"><input type="checkbox" class='show-again' id="welcome-screen-show-again" checked/> <label for="welcome-screen-show-again">Don't show this screen again until next update.</label></p>
<p style="text-align: right">Want to support development? <a href="https://github.com/Moerill/markdown-editor#support-the-development">Click here</a></p>